# 忽略文件
.git
.gitignore
*.md
!README.md
.idea
.iml
.vscode
*.log
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Docker 相关文件（单独处理）
Dockerfile
docker-compose.yml
.dockerignore

# 本地配置
application-local.yml
application-local.properties
